$editor-color-palette: (
  cyan-bluish-gray:      #ABB8C3,
  pale-cyan-blue:        #8ED1FC,
  pale-pink:             #F78DA7,
  light-green-cyan:      #7BDCB5,
  luminous-vivid-amber:  #FCB900,
  luminous-vivid-orange: #FF6900,
  very-dark-gray:        #313131,
  very-light-gray:       #EEEEEE,
  vivid-cyan-blue:       #0693E3,
  vivid-green-cyan:      #00D084,
  vivid-red:             #CF2E2E
);

$editor-font-sizes: (
  huge:   48px,
  large:  36px,
  medium: 20px,
  small:  13px
);
