.wp-block-cover {
  @include wp-block;

  align-items: center;
  background-color: black;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 430px;
  position: relative;

  &.has-background-dim::before {
    background-color: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
  }

  // Background Opacity
  @each $opacity in 10, 20, 30, 40, 60, 70, 80, 90, 100 {
    &.has-background-dim-#{$opacity}::before { opacity: $opacity / 100; }
  }

  // Fixed Background
  &.has-parallax { background-attachment: fixed; }

  &.has-left-content { justify-content: flex-start; }
  &.has-right-content { justify-content: flex-end; }

  &-text {
    color: white;
    font-size: 2em;
    padding: 14px;
    margin: initial;
    z-index: 1;
  }
}
